<!-- Banner -->
<div id="banner">
  <div  class="container" >
    <div >
      <div class="row">
        <div class="col-md-12">
          <!--Logo-->
          <div class="text-center" style="margin: 250px 20px">
            <h1 style="font-size: 58px;color: black">
              <strong> Flask Angular Lambda APP</strong>
            </h1>
          </div>
          <section class="try" >
            <div class="container">
              <div class="text-center">
                <a routerLink="/sources/s3upload" routerLinkActive="active">TRY IT FREE</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="height: 10px"></div>
