<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hello {{ name }}, Please active your account clicking <a href="{{ site_domain }}/api/active?username={{ username }}&hash={{ hash_username }}">here</a>.

</body>
</html>