<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FrontendAngular</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Scripts -->
  <script src="{{ s3_url }}assets/js/jquery.min.js"></script>
  <script src="{{ s3_url }}assets/js/jquery.dropotron.min.js"></script>
  <script src="{{ s3_url }}assets/js/jquery.scrolly.min.js"></script>
  <script src="{{ s3_url }}assets/js/skel.min.js"></script>
  <script src="{{ s3_url }}assets/js/util.js"></script>
  <script src="{{ s3_url }}assets/js/main.js"></script>
</head>
<body>
  <app-root>
    <div class="container">
      <section>
        <div class="loader loader-1">
          <div class="loader-outter"></div>
          <div class="loader-inner"></div>
        </div>
      </section>
    </div>
  </app-root>
<script type="text/javascript" src="{{ s3_url }}inline.bundle.js"></script><script type="text/javascript" src="{{ s3_url }}polyfills.bundle.js"></script><script type="text/javascript" src="{{ s3_url }}styles.bundle.js"></script><script type="text/javascript" src="{{ s3_url }}scripts.bundle.js"></script><script type="text/javascript" src="{{ s3_url }}vendor.bundle.js"></script><script type="text/javascript" src="{{ s3_url }}main.bundle.js"></script></body>
</html>
