<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

Hello {{ name }}, Please change your password clicking <a href="{{ site_domain }}/api/linkpwdchange?username={{ username }}">here</a>.

</body>
</html>