<header id="header" class="fix reveal">

  <a id="logo" href="#" style="left: 0px; height: 70px ">
    <img  src="../assets/bird.png" style="display: inline; height: 50px;">
  </a>

  <nav id="nav">
    <ul>
       <li class="current" *ngIf="loggedInData.username =='' || loggedInData.username == undefined">
         <a [routerLink]="['']">Welcome</a>
       </li>
      <li class="current" *ngIf="loggedInData.username!=''">
         <span style="color: #ff8c00">{{loggedInData.username}}</span>
       </li>
      <li class="submenu">
        <a href="#">Menu</a>
        <ul>
          <li><a routerLink="/signup">Sign UP</a></li>
          <li><a routerLink="/signin">Sign In</a></li>
          <li><a routerLink="/sources/s3upload">S3 Upload</a></li>

        </ul>
      </li>
      <li *ngIf="!isLoggedIn"><a routerLink="/signup" class="button special">Sign Up</a></li>
      <li *ngIf="isLoggedIn"><a (click)="logout()" class="button special">Sign Out</a></li>
    </ul>
  </nav>

</header>

<router-outlet>

</router-outlet>

<footer id="footer">

  <br>
  <ul class="copyright">
    <li>
      <a href="#">
        <img src="" style="display: inline; height: 50px;">
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy;2018  </li>
  </ul>
  <ul class="copyright">
    <li><a href="#">Contact</a></li><li><a href="#">Privacy</a></li>
  </ul>

</footer>



