<article id="main">
  <section class="wrapper style4 container" style="color:#000303;background: none">

    <div class="row">
      <div class="col-md-12">
        <!-- Logo -->
        <div class="logo text-center"></div>
        <div class="text-center forms">
          <form class="form form-horizontal" #userForm="ngForm"
                (ngSubmit)="sendPassword()">

            <h2>Change password for {{user_domain}}</h2>
            <hr>
            <div>
              <label style="margin-left: 40px; margin-right: 50px;color: #4543a7;font-size: 17px;">
                Password must contain one lowercase letter, one number, and be at least 6 characters long.</label>
            </div>
            <div
              [class.has-error]="password1.invalid && password1.touched">
              <label>Password</label> <input type="password" class="form-control"
                                             name="password1" required minlength="6" [(ngModel)]="firs_password"
                                             #password1="ngModel"> <label
              class="control-label"
              *ngIf="password1.errors && password1?.errors.minlength && password1.touched">
              <i class="fa fa-times-circle-o"></i> Password must be at least 6
              characters long.
            </label> <label  class="control-label"
                             *ngIf="password1.errors && password1?.errors.required && password1.touched">
              <i class="fa fa-times-circle-o"></i> Password is required
            </label>
            </div>
            <div
              [class.has-error]="password2.invalid && password2.touched">
              <label>Confirm Password</label> <input type="password" class="form-control"
                                                     name="password2" required minlength="6" [(ngModel)]="second_password"
                                                     #password2="ngModel"> <label
              class="control-label"
              *ngIf="password2.errors && password2?.errors.minlength && password2.touched">
              <i class="fa fa-times-circle-o"></i> Password must be at least 6
              characters long.
            </label> <label  class="control-label"
                             *ngIf="password2.errors && password2?.errors.required && password2.touched">
              <i class="fa fa-times-circle-o"></i> Password is required
            </label>
            </div>
            <button [disabled]=" userForm.invalid || (firs_password != second_password)"
                    class="btn btn-primary btn-submit" type="submit" >
                  <span><i [ngClass]="isLoading  ? 'fa fa-gear fa-spin':'fa '"></i>
                    Change password</span>
            </button>


          </form>
        </div>
      </div>
    </div>
  </section>
</article>
