<article id="main">
  <section class="wrapper style4 container" style="min-height:500px;color:#000303;background: none">
    <div class="rounded-corner">
      <label class="btn btn-default">
      <input type="file" (change)="selectFile($event)">
    </label>

    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">


                <i [ngClass]=" uploading ? 'fa fa-gear fa-spin':'fa '"></i>
              &nbsp;Upload
    </button>
    <button [disabled]="selectedFiles == undefined" type="button" class="btn btn-success " (click)="processDocument()">

                <i [ngClass]="proccessing ? 'fa fa-gear fa-spin':'fa '"></i>
              &nbsp;Process Document
    </button>
    </div>

  </section>
</article>
